@import "tailwindcss" source("../../");

@theme {
    --text-primary-light: #2c3e50;
    --text-secondary-light: rgba(60, 60, 60, 0.66);
    --text-primary-dark: #ffffff;
    --text-secondary-dark: rgba(235, 235, 235, 0.64);

    --color-border: rgba(60, 60, 60, 0.12);
    --color-border-hover: rgba(60, 60, 60, 0.29);

    --color-heading: var(--text-primary-light);
}
